#list .items {
	list-style: none;
	
	margin: 20px auto;
	padding: 10px;
	width: 500px;

	background: #d9d9d9;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0, 0.4);
	
	border-radius: 5px;
}

.item {
	padding: 10px;
	background: #eee;
	color: #9d9d9d;
	margin-bottom: 10px;
	border-radius: 7px;
}
.item:last-child {
	margin-bottom: none;
}
.item .title a {
	text-decoration: none;
	color: inherit;
}
.item.closed {
	opacity: 0.5;
}
.item.closed .title {
	text-decoration: line-through;
}
.item .title .number {
	float: left;
	margin-right: 10px;
	color: #bbb;
}
.item .title .number:before {
	content: '#';
}
