#repo-selector {
	position: relative;
	width: 400px;
	margin: 0 auto;
}

#repo-selector input[type="text"] {
	width: 75%;
	padding: 10px 5px;
	
	text-align: center;
	
	font-family: sans-serif;
	font-size: 14px;
}
#repo-selector input[type="submit"] {
	width: 20%;
}

#repo-selector .search-results {
	list-style: none;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 100%;
	width: 100%;
	max-height: 90vh;
	overflow: auto;
	
	background-color: #f6f6f6;
	border: 1px solid #eee;
	color: black;
	
	display: none;
	
	text-align: left;
}
#repo-selector .search-results.visible {
	display: block;
}

#repo-selector .search-results .item {
	margin: 0px;
	padding: 5px;
	
	border-radius: 0;
	
	background: #aaa;
	border-bottom: 1px solid #888;
	color: #555;
	
	font-family: sans-serif;
	font-size: 12px;
}
/* #repo-selector .search-results .item:hover {
	background: #555;
	color: #aaa;
} */

#repo-selector .search-results .item .title {
	margin: 0;
	
	font-family: serif;
	font-size: 1.3em;
}
#repo-selector .search-results .item .title .owner img {
	width: 25px;
	height: auto;
	vertical-align: middle;
}

#repo-selector .search-results .item .description  {
	margin: 5px 0;
	
	font-family: sans-serif;
	font-size: 1em;
}
