body {
	background: #cecece;
}

#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	
	text-align: center;
	
	background-color: #333;
	color: #f6f6f6;
	box-shadow: 0px 2px 2px 2px rgba(0,0,0, 0.5);
}
#toolbar #repo-selector {
	position: relative;
	width: 300px;
	margin: 0 auto;
}
#toolbar #repo-selector input[type="text"] {
	width: 75%;
	text-align: center;
}
#toolbar #repo-selector input[type="submit"] {
	width: 20%;
}
#toolbar .search-results {
	list-style: none;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 100%;
	width: 100%;
	max-height: 90vh;
	overflow: auto;
	
	background-color: #f6f6f6;
	border: 1px solid #eee;
	color: black;
	
	display: none;
}
#toolbar .search-results.visible {
	display: block;
}
#toolbar .search-results .item {
	margin: 5px;
	padding: 10px;
	
	background: #aaa;
	border-bottom: 1px solid #888;
	color: #555;
	
	cursor: pointer;
}
#toolbar .search-results .item:hover {
	background: #555;
	color: #aaa;
}

#list .items {
	list-style: none;
	
	margin: 20px auto;
	padding: 10px;
	width: 500px;

	background: #d9d9d9;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0, 0.4);
	
	border-radius: 5px;
}

.item {
	padding: 10px;
	background: #eee;
	color: #9d9d9d;
	margin-bottom: 10px;
	border-radius: 7px;
}
.item:last-child {
	margin-bottom: none;
}
.item .title a {
	text-decoration: none;
	color: inherit;
}
.item.closed {
	opacity: 0.5;
}
.item.closed .title {
	text-decoration: line-through;
}
.item .title .number {
	float: left;
	margin-right: 10px;
	color: #bbb;
}
.item .title .number:before {
	content: '#';
}
